{% extends 'base.html' %}

{% block content %}

<h1>New Item</h1>

<form method="POST" action="{{ url_for('main.new_item') }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Item Information:</legend>

    {{ form.name.label }}
    {{ form.name }}

    {{ form.price.label }}
    {{ form.price }}

    {{ form.category.label }}
    {{ form.category }}

    {{ form.photo_url.label }}
    {{ form.photo_url }}
    <ul>
      {% for error in form.photo_url.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.store.label }}
    {{ form.store }}

    {{ form.submit}}

  </fieldset>
</form>

{% endblock %}